<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bleedApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>449CB05D1DE0F9F100B55044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>449CB0711DE0F9F200B55044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>449CB07C1DE0F9F200B55044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
